@import "../less/paiban.css";
@import "../less/container.css";
@import "../less/wanggexitong.css";
body {
  margin: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dh {
  width: 100%;
  height: auto;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  background-color: green;
  z-index: 3;
}
.dh > div.bggreen {
  float: left;
  height: 40px;
  margin-bottom: -40px;
  width: 100%;
  background-color: #008000;
}
.dh > label > div.menu > div.a1 > a,
.dh > div.menu2 > div > a {
  font-family: monospace;
  text-decoration: none;
  color: #fff;
}
div.dh > div.menu2 {
  margin-top: -150px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 120px;
  background-color: green;
  z-index: 2;
}
input[type=checkbox] {
  display: none;
}
@media (min-width: 680px) {
  .dh {
    min-height: 40px;
  }
  .menu {
    width: 100%;
    background-color: green;
  }
  .menu div.a1 {
    width: 50px;
    float: right;
    line-height: 39px;
    font-size: 16px;
    color: #fff;
    margin-right: 20px;
    position: relative;
    text-align: center;
  }
  .menu div.a1:hover .border5 {
    display: block;
  }
  .b {
    display: none;
  }
}
@media (max-width: 680px) {
  .dh {
    min-height: 40px;
  }
  .menu {
    display: none;
  }
  #checkbox1:checked + .menu2 {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 160px;
    padding-top: 40px;
    margin-top: 0px;
    z-index: -99999999;
  }
  #checkbox1:checked + .menu2 .menu2 {
    display: block;
  }
  div.dh label > div.menu {
    display: none;
  }
  .menu {
    width: 100%;
    height: 40px;
    background-color: green;
    z-index: 4;
  }
  .b {
    display: block;
    float: right;
    position: relative;
    top: 0;
    right: 30px;
    margin: 5px 30px -35px 0;
    width: 30px;
    height: 30px;
    background-color: rgba(240, 240, 240, 0.1);
    background-image: url(../img/菜单.png);
    background-size: 35px;
    background-position: center;
    z-index: 4;
    border-radius: 2px;
    border: 1px solid rgba(240, 240, 240, 0.1);
  }
  .b:hover {
    border: 1px solid rgba(240, 240, 240, 0.3);
  }
  .menu2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 120px;
    background-color: green;
    z-index: -1;
  }
  .menu2 div {
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    z-index: 1;
  }
}
.slide {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  text-align: center;
  font-family: Arial;
  color: #000;
  overflow: hidden;
  z-index: -2;
}
.slide ul {
  margin: 0;
  padding: 0;
  width: 400%;
  transition: all 3s;
}
.slide ul li img {
  width: 100%;
  height: 100%;
}
.slide .slide-auto {
  animation: marginLeft 20s infinite;
}
.slide li {
  float: left;
  width: 25%;
  height: auto;
  list-style: none;
  font-size: 36px;
}
@keyframes marginLeft {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  30% {
    margin-left: -100%;
  }
  50% {
    margin-left: -100%;
  }
  60% {
    margin-left: -200%;
  }
  80% {
    margin-left: -200%;
  }
  90% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
/* ---------------------single CSS----------------------- */
/* display */
.dn {
  display: none;
}
.di {
  display: inline;
}
.db {
  display: block;
}
.dib {
  display: inline-block;
}
div.dib {
  *display: inline;
  *zoom: 1;
}
/* other block level tag(eg. p, li, h1~h6), using 'inline_any' instead */
/* height */
.h0 {
  height: 0;
}
.h14 {
  height: 14px;
}
.h16 {
  height: 16px;
}
.h18 {
  height: 18px;
}
.h20 {
  height: 20px;
}
.h22 {
  height: 22px;
}
.h24 {
  height: 24px;
}
.h30 {
  height: 30px;
}
/* width */
/* fixed width value */
.w20 {
  width: 20px;
}
.w50 {
  width: 50px;
}
.w70 {
  width: 70px;
}
.w100 {
  width: 100px;
}
.w120 {
  width: 120px;
}
.w140 {
  width: 140px;
}
.w160 {
  width: 160px;
}
.w180 {
  width: 180px;
}
.w200 {
  width: 200px;
}
.w220 {
  width: 220px;
}
.w250 {
  width: 250px;
}
.w280 {
  width: 280px;
}
.w300 {
  width: 300px;
}
.w320 {
  width: 320px;
}
.w360 {
  width: 360px;
}
.w400 {
  width: 400px;
}
.w460 {
  width: 460px;
}
.w500 {
  width: 500px;
}
.w600 {
  width: 600px;
}
.w640 {
  width: 640px;
}
.w700 {
  width: 700px;
}
/* percent width value */
.pct10 {
  width: 10%;
}
.pct15 {
  width: 15%;
}
.pct20 {
  width: 20%;
}
.pct25 {
  width: 25%;
}
.pct30 {
  width: 30%;
}
.pct33 {
  width: 33.3%;
}
.pct40 {
  width: 40%;
}
.pct50 {
  width: 50%;
}
.pct60 {
  width: 60%;
}
.pct66 {
  width: 66.6%;
}
.pct70 {
  width: 70%;
}
.pct75 {
  width: 75%;
}
.pct80 {
  width: 80%;
}
.pct90 {
  width: 90%;
}
.pct100 {
  width: 100%;
}
/* line-height */
.lh0 {
  line-height: 0;
}
.lh14 {
  line-height: 14px;
}
.lh16 {
  line-height: 16px;
}
.lh18 {
  line-height: 18px;
}
.lh20 {
  line-height: 20px;
}
.lh22 {
  line-height: 22px;
}
.lh24 {
  line-height: 24px;
}
.lh30 {
  line-height: 30px;
}
/* margin */
.m0 {
  margin: 0;
}
.ml1 {
  margin-left: 1px;
}
.ml2 {
  margin-left: 2px;
}
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.ml20 {
  margin-left: 20px;
}
.ml30 {
  margin-left: 30px;
}
.mr1 {
  margin-right: 1px;
}
.mr2 {
  margin-right: 2px;
}
.mr5 {
  margin-right: 5px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mr20 {
  margin-right: 20px;
}
.mr30 {
  margin-right: 30px;
}
.mt1 {
  margin-top: 1px;
}
.mt2 {
  margin-top: 2px;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mb1 {
  margin-bottom: 1px;
}
.mb2 {
  margin-bottom: 2px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
/* margin negative */
.ml-1 {
  margin-left: -1px;
}
.mr-1 {
  margin-right: -1px;
}
.mt-1 {
  margin-top: -1px;
}
.mb-1 {
  margin-bottom: -1px;
}
.ml-3 {
  margin-left: -3px;
}
.mr-3 {
  margin-right: -3px;
}
.mt-3 {
  margin-top: -3px;
}
.mb-3 {
  margin-bottom: -3px;
}
.ml-20 {
  margin-left: -20px;
}
.mr-20 {
  margin-right: -20px;
}
.mt-20 {
  margin-top: -20px;
}
.mb-20 {
  margin-bottom: -20px;
}
/* padding */
.p0 {
  padding: 0;
}
.p1 {
  padding: 1px;
}
.pl1 {
  padding-left: 1px;
}
.pt1 {
  padding-top: 1px;
}
.pr1 {
  padding-right: 1px;
}
.pb1 {
  padding-bottom: 1px;
}
.p2 {
  padding: 2px;
}
.pl2 {
  padding-left: 2px;
}
.pt2 {
  padding-top: 2px;
}
.pr2 {
  padding-right: 2px;
}
.pb2 {
  padding-bottom: 2px;
}
.pl5 {
  padding-left: 5px;
}
.p5 {
  padding: 5px;
}
.pt5 {
  padding-top: 5px;
}
.pr5 {
  padding-right: 5px;
}
.pb5 {
  padding-bottom: 5px;
}
.p10 {
  padding: 10px;
}
.pl10 {
  padding-left: 10px;
}
.pt10 {
  padding-top: 10px;
}
.pr10 {
  padding-right: 10px;
}
.pb10 {
  padding-bottom: 10px;
}
.p15 {
  padding: 15px;
}
.pl15 {
  padding-left: 15px;
}
.pt15 {
  padding-top: 15px;
}
.pr15 {
  padding-right: 15px;
}
.pb15 {
  padding-bottom: 15px;
}
.p20 {
  padding: 20px;
}
.pl20 {
  padding-left: 20px;
}
.pt20 {
  padding-top: 20px;
}
.pr20 {
  padding-right: 20px;
}
.pb20 {
  padding-bottom: 20px;
}
.p30 {
  padding: 30px;
}
.pl30 {
  padding-left: 30px;
}
.pt30 {
  padding-top: 30px;
}
.pr30 {
  padding-right: 30px;
}
.pb30 {
  padding-bottom: 30px;
}
/* border-color name rule: border(b)-position(l/r/t/b/d)-width(null/2)-style(null/sh)-color(first one letter/first two letter) |-> All colors are safe color*/
.bdc {
  border: 1px solid #ccc;
}
.blc {
  border-left: 1px solid #ccc;
}
.brc {
  border-right: 1px solid #ccc;
}
.btc {
  border-top: 1px solid #ccc;
}
.bbc {
  border-bottom: 1px solid #ccc;
}
.bdd {
  border: 1px solid #ddd;
}
.bld {
  border-left: 1px solid #ddd;
}
.brd {
  border-right: 1px solid #ddd;
}
.btd {
  border-top: 1px solid #ddd;
}
.bbd {
  border-bottom: 1px solid #ddd;
}
.bde {
  border: 1px solid #eee;
}
.ble {
  border-left: 1px solid #eee;
}
.bre {
  border-right: 1px solid #eee;
}
.bte {
  border-top: 1px solid #eee;
}
.bbe {
  border-bottom: 1px solid #eee;
}
/* background-color name rule: bg - (key word/Hex color) |-> All colors are safe color */
.bgwh {
  background-color: #fff;
}
.bgfb {
  background-color: #fbfbfb;
}
.bgf5 {
  background-color: #f5f5f5;
}
.bgf0 {
  background-color: #f0f0f0;
}
.bgeb {
  background-color: #ebebeb;
}
.bge0 {
  background-color: #e0e0e0;
}
/* safe color */
.g0 {
  color: #000;
}
.g3 {
  color: #333;
}
.g6 {
  color: #666;
}
.g9 {
  color: #999;
}
.gc {
  color: #ccc;
}
.wh {
  color: white;
}
/* font-size */
.f0 {
  font-size: 0;
}
.f12 {
  font-size: 12px;
}
.f13 {
  font-size: 13px;
}
.f14 {
  font-size: 14px;
}
.f16 {
  font-size: 16px;
}
.f18 {
  font-size: 18px;
}
.f20 {
  font-size: 20px;
}
.f24 {
  font-size: 24px;
}
.f28 {
  font-size: 28px;
}
/* font-family */
.fa {
  font-family: Arial;
}
.ft {
  font-family: Tahoma;
}
.fv {
  font-family: Verdana;
}
.fs {
  font-family: Simsun;
}
.fl {
  font-family: 'Lucida Console';
}
.fw {
  font-family: 'Microsoft Yahei';
}
/* font-style */
.n {
  font-weight: normal;
  font-style: normal;
  white-space: normal;
}
.b {
  font-weight: bold;
}
.i {
  font-style: italic;
}
/* text-align */
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.tl {
  text-align: left;
}
.tj {
  text-align: justify;
}
/* text-decoration */
.tdl {
  text-decoration: underline;
}
.tdn,
.tdn:hover,
.tdn a:hover,
a.tdl:hover {
  text-decoration: none;
}
/* letter-spacing */
.lt-1 {
  letter-spacing: -1px;
}
.lt0 {
  letter-spacing: 0;
}
.lt1 {
  letter-spacing: 1px;
}
/* white-space */
.nowrap {
  white-space: nowrap;
}
/* word-wrap */
.bk {
  word-wrap: break-word;
}
/* vertical-align */
.vm {
  vertical-align: middle;
}
.vtb {
  vertical-align: text-bottom;
}
.vb {
  vertical-align: bottom;
}
.vt {
  vertical-align: top;
}
.v-1 {
  vertical-align: -1px;
}
.v-2 {
  vertical-align: -2px;
}
.v-3 {
  vertical-align: -3px;
}
.v-4 {
  vertical-align: -4px;
}
.v-5 {
  vertical-align: -5px;
}
/* float */
.l {
  float: left;
}
.r {
  float: right;
}
/* clear */
.cl {
  clear: both;
}
/* position */
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
/*z-index*/
.zx1 {
  z-index: 1;
}
.zx2 {
  z-index: 2;
}
/* cursor */
.poi {
  cursor: pointer;
}
.def {
  cursor: default;
}
/* overflow */
.ovh {
  overflow: hidden;
}
.ova {
  overflow: auto;
}
/* visibility */
.vh {
  visibility: hidden;
}
.vv {
  visibility: visible;
}
/* opacity */
.opa0 {
  opacity: 0;
  filter: alpha(opacity=0);
}
/* zoom */
.z {
  *zoom: 1;
}
.bz {
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
body {
  margin: 0;
  min-width: 470px;
  background-color: #f0f0f0;
}
.containerziti {
  padding-top: 4px;
  padding-right: 15px;
  padding-bottom: 4px;
  padding-left: 15px;
  font-size: 12px;
  line-height: 22px;
  font-family: Monospace;
  background-color: _;
  text-align: _;
  text-transform: _;
  color: #008000;
  white-space: _;
  text-decoration: _;
  text-indent: _;
  letter-spacing: _;
}
.containerziti div {
  width: 20px;
  height: 20px;
  float: right;
  margin-left: 20px;
  border-radius: 50%;
  border: 1px solid green;
  padding-top: 3px;
  padding-right: 2px;
  padding-bottom: 3px;
  padding-left: 2px;
  text-align: center;
}
.containerziti div img {
  display: block;
  width: 100%;
  height: 100%;
}
.border5 {
  position: absolute;
  top: _;
  left: _;
  right: _;
  bottom: 0;
  display: none;
  height: 2px;
  width: 100%;
  background-color: #fff;
}
.container .mainrow1 {
  margin: 20px auto;
  border-bottom: 1px solid #c8c8c8;
  line-height: 30px;
  height: 47.6px;
}
.container .mainrow1 span {
  color: green;
}
.container .mainrow2 {
  border-bottom: 0.5px solid #c8c8c880;
  font-size: 11px;
  line-height: 25px;
  font-family: Monospace;
  background-color: _;
  text-align: _;
  text-transform: _;
  color: _;
  white-space: nowrap;
  text-decoration: _;
  text-indent: _;
  letter-spacing: _;
}
.container .mainrow2 .h36 {
  height: 36px;
}
.container .mainrow2 div a {
  color: black;
}
.container.biao > div {
  height: 48px;
  border-bottom: 1px solid #c8c8c8;
  line-height: 30px;
  height: 47.6px;
}
.container.biao > div b {
  font-size: 18px;
  line-height: 15px;
}
.container.biaoji > div .maincol1 {
  position: relative;
  font-size: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.container.biaoji > div .maincol1 .maintop {
  border: 1px solid rgba(200, 200, 200, 0.8);
  padding: 5px;
  height: 169px;
  text-align: left;
  background-color: #fff;
}
.container.biaoji > div .maincol1 .maintop div {
  width: 139px;
  height: 139px;
  margin: 10px;
  float: left;
}
.container.biaoji > div .maincol1 .maintop h5 {
  line-height: 70px;
}
.container.biaoji > div .maincol1 .middle {
  height: 26px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container.biaoji > div .maincol1 .middle .maincol2 {
  border: 1px solid #c8c8c880;
  line-height: 25px;
  width: 50%;
  background-color: #fff;
  padding: 0 10px;
}
.container.biaoji > div .maincol1 .middle .maincol2 img {
  margin: 0 0 4px 5px;
}
.container.biaoji > div .maincol1 .middle .maincol3 {
  font-size: 6px;
  border: 1px solid #c8c8c880;
  width: 50%;
  line-height: 25px;
  background-color: #fff;
  padding: 0 5px;
}
.container.biaoji > div .maincol1 .middle .maincol3 span {
  color: red;
}
.container.biaoji > div .maincol1 .bottom {
  width: 100%;
  height: 80px;
}
.container.biaoji > div .maincol1 .bottom .maincol4 {
  float: left;
  width: 30%;
  font-size: 6px;
  text-align: center;
  border: 1px solid #c8c8c880;
  height: 80px;
  line-height: 80px;
  background-color: #fff;
}
.container.biaoji > div .maincol1 .bottom .maindiv1 {
  float: left;
  width: 70%;
  height: 80px;
  border: 1px solid #c8c8c880;
}
.container.biaoji > div .maincol1 .bottom .maindiv1 .mainrow4 {
  border: 1px solid #c8c8c880;
  height: 33.333333%;
  line-height: 25px;
  background-color: #fff;
}
.container.biaoji > div .maincol1 .bottom .maindiv1 .mainrow4 .maindiv2 {
  float: left;
  margin-left: 10px;
}
.container.biaoji > div .maincol1 .bottom .maindiv1 .mainrow4 .maindiv3 {
  float: right;
  margin-right: 10px;
}
.container.biaoji > div .maincol1 .mainrow5 {
  width: 100%;
  font-size: 5px;
  line-height: 26px;
  font-family: Monospace;
  background-color: _;
  text-align: _;
  text-transform: _;
  color: _;
  white-space: _;
  text-decoration: _;
  text-indent: _;
  letter-spacing: _;
  height: 26px;
  border: 1px solid #c8c8c880;
  background-color: #fff;
  padding: 0 10px;
}
.container.biaoji > div .maincol1 .mainrow5 span {
  color: red;
}
.container.biaoji > div .maincol1:hover .jueduidingwei {
  display: block;
}
.container.biaoji > div .maincol1 .jueduidingwei {
  display: none;
  align-items: _;
  justify-content: _;
  flex-direction: _;
  flex-flow: _;
  flex-wrap: _;
  align-content: _;
  position: absolute;
  top: 0;
  left: _;
  right: _;
  bottom: _;
  width: auto;
  height: 100%;
  padding: 30px;
  margin-right: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
}
.container-fluid.backcolor {
  background-color: seagreen;
  color: #fff;
}
.container-fluid.backcolor div.container.bacolor {
  padding-top: 30px;
  font-size: 8px;
  line-height: 50px;
  font-family: Monospace;
  background-color: _;
  text-align: _;
  text-transform: _;
  color: _;
  white-space: _;
  text-decoration: _;
  text-indent: _;
  letter-spacing: _;
  position: relative;
}
.container-fluid.backcolor div.container.bacolor div.row.erweima {
  display: block;
  position: absolute;
  top: _;
  left: _;
  right: 20px;
  bottom: 10px;
  font-size: _;
  line-height: 10px;
  font-family: Monospace;
  background-color: _;
  text-align: center;
  text-transform: _;
  color: _;
  white-space: _;
  text-decoration: _;
  text-indent: _;
  letter-spacing: _;
}
.container-fluid {
  border-top: 1px solid #00bc00;
  background-color: seagreen;
}
.container-fluid .footer {
  text-align: center;
  font-size: 10px;
  line-height: 25px;
  font-family: Monospace;
  background-color: _;
  text-align: _;
  text-transform: _;
  color: _;
  white-space: _;
  text-decoration: _;
  text-indent: _;
  letter-spacing: _;
}
