body {
    background-color: rgba(240, 240, 240, .9);
    margin: 0;
    min-width: 320px;
}
.containerziti {
    padding: 5px 0;
    font-size: 12px;
    line-height: 22px;
    color: green;
}
.header-tubiao {
    width: 20px;
    height: 20px;
    float: right;
    margin-left: 20px;
    border-radius: 50%;
    border: 1px solid greenyellow;
    padding: 4px;
    text-align: center;
}
.tubiaoa {
    width: 20px;
    height: 20px;
    background-image: url(../img/sprite.png);
    background-position: center;
    background-size: 20px;
}
.navbar-collapse {
    flex-direction: row-reverse;
}
.imgjuzhong {
    display: block;
    width: 100%;
    height: 100%;
}
.container-fluid-color {
    background-color: green;
}
.containei-flex {
    display: flex;
    flex-direction: row-reverse;
    height: 60px;
}   
.nav-link:hover .border5{
    display: block;
}
.border5 {
    position: absolute;
    bottom: 0;
    display: none;
    height: 2px;
    width: 100%;
    background-color: white;
    margin: 0 -0.5rem  -8px -0.5rem; 
}
.maina {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
    padding: 0 20px;
    height: 65px;
    line-height: 65px;
}
.maina1 {
    display: block; 
    margin: 10px 0;
    padding: 0 20px;
    font-size: 10px;
}
.mainb1 {
    display: block;
    margin: 10px 0;
    text-align: center;
}
.mainc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.mainc1 {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: white;
    margin: 0 10px;
    font-size: 10px;
    color: green;
    line-height: 26px;
    text-align: center;
    flex-shrink: 0;
}
.mainc2 {
    padding-top: 12px;
    font-size: 10px;
    width: auto;
    height: auto;
    line-height: 16px;
    vertical-align: bottom;
}
.mainc-bg {
    width: 32px;
    height: 30px;
    background-image: url(../img/技能树首页/小图标/形状\ 7白色\ 拷贝\ 5.png);
    padding: 1px 5px; 
    flex-shrink: 0;
}
.mainca {
    width: 108px;
    height: 108px;
    margin: auto;  
}
.bg-rgba {
    background-color: rgba(255, 255 , 255, 1);
    border: 10px solid rgba(240, 240, 240, .9);
    padding: 30px 20px 100px 20px;
}
.tupian1 {
    background-image: url(../img/技能树首页/技能树/a.png);
    background-color: rgba(255, 255 , 255, 1);
    background-position: center;   
    background-repeat: no-repeat;
    background-size: 100px;
    width: 150px;
    height: 150px;
}
.tupian2 {
    background-image: url(../img/技能树首页/技能树/b.png);
    background-color: rgba(255, 255 , 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px;
    width: 150px;
    height: 150px;

}
.tupian3 {
    background-image: url(../img/技能树首页/技能树/c.png);
    background-color: rgba(255, 255 , 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px;
    width: 150px;
    height: 150px;
}
.tupian4 {
    background-image: url(../img/技能树首页/技能树/d.png);
    background-color: rgba(255, 255 , 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px;
    width: 150px;
    height: 150px;
}
.tupian5 {
    background-image: url(../img/技能树首页/技能树/e.png);
    background-color: rgba(255, 255 , 255, 1);
    background-position: center;  
    background-repeat: no-repeat;
    background-size: 100px;
    width: 150px;
    height: 150px;
}
.tupian1:hover {
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
}
.tupian5:hover {
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
}
.tupian2:hover {
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
}
.tupian3:hover {
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
}
.tupian4:hover {
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
}
.margin-topa {
    color: rgba(34, 34, 34, 0.8); 
    background-color: rgba(255, 255, 255, 1);
}
.carousel-indicators {
    bottom: -30px;
}
.col-xs-1-5 
.col-md-1-5 
.col-sm-1-5 
.col-lg-1-5 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-1-5 {
    width: 100%;
    float: left;
}
@media (min-width: 992px) {
    .col-md-1-5 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 768px) {
    .col-sm-1-5 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-1-5 {
        width: 20%;       
        float: left;
    }
}
.erweima {
    display: block;
    position: absolute;
    right: 20px;
    bottom: 10px;
    line-height: 10px ;
    text-align: center;
}
.backcolor {
    background-color: seagreen; color: rgba(255,255,255,1);
}
.bacolor {
    padding-top: 30px; 
    font-size: 8px; 
    line-height: 50px; 
    position: relative;
}
.footer {
    font-size: 10px ;
    text-align: center;
    line-height: 25px;
}
@media (max-width: 768px) {
    .border5 {
     z-index: -2;
    }
  }
@media (max-width: 768px) {
    .maina1 {
     text-align: center;
    }
  }
@media (max-width: 768px) {
    .mainc-bg {
     display: none;
    }
}
.biankuang {
    border-left: 1px dashed #000;
    padding-top: 8%;
}
@media (max-width: 768px) {
    .biankuang  {
        border-left: 0;
        padding-top: 10%;
    }
}
@media (max-width: 1024px) {
    .biankuang  {
        padding-top: 6%;
    }
}
@media (min-width: 1025px) {
    .biankuang  {
        padding-top: 4%;
    }
}





@media (max-width: 768px) {
    .bg-rgba {
     margin: 10%;
     padding: 10px 60px;
     line-height: 20px;
    }
}



